#container{
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}
#btn{
    align-self: flex-start;
    padding: 20px;
    margin-top: 100px;
    margin: 50px;
    margin-left: 90px;
    border: none;
    opacity: 0.75;
}
#btn:hover{
    background: linear-gradient(to right , #fff,#899393);
    font-family: 'Montserrat', sans-serif;
    margin-left: 150px;
    cursor:wait;

}
body{
    background-image: url("https://images.unsplash.com/photo-1599043109006-fa95b3ca985d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color:#3b8d99;
}
.start{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 65px;
    margin-left: 40px;
    background: linear-gradient(to right , #d13c6d,#3b8d99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
}

@media all and (max-width:500px){
    h1{
        font-size: 40px;
        margin-top: 50px; 
    }
    }